<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Waiting List</h2>

                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Player</th>
                        <th scope="col">Skating &nbsp;<img src="images/svg/skating.svg" height="16" width="16" /></th>
                        <th scope="col">Shooting &nbsp;<img src="images/svg/shooting.svg" height="16" width="16" /></th>
                        <th scope="col">Checking &nbsp;<img src="images/svg/checking.svg" height="16" width="16" /></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Gutierrez Dillon</td>
                        <td>84</td>
                        <td>39</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>Johann Yngvie Malmsteen</td>
                        <td>84</td>
                        <td>39</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>John Doe</td>
                        <td>84</td>
                        <td>39</td>
                        <td>100</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-12">
        <div class="card-deck">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Squad #1</h5>

                    <div class="list-group">
                        <div class="list-group-item">
                            Gutierrez Dillon
                            <div class="text-right">
                                <img src="images/svg/skating.svg" height="12" width="12" /><small>55</small> &nbsp;
                                <img src="images/svg/shooting.svg" height="12" width="12" /><small>88</small> &nbsp;
                                <img src="images/svg/checking.svg" height="12" width="12" /><small>100</small>
                            </div>
                        </div>
                        <div class="list-group-item">
                            Johann Yngvie Malmsteen
                            <div class="text-right">
                                <img src="images/svg/skating.svg" height="12" width="12" /><small>55</small> &nbsp;
                                <img src="images/svg/shooting.svg" height="12" width="12" /><small>88</small> &nbsp;
                                <img src="images/svg/checking.svg" height="12" width="12" /><small>100</small>
                            </div>
                        </div>
                        <div class="list-group-item">
                            John Doe
                            <div class="text-right">
                                <img src="images/svg/skating.svg" height="12" width="12" /><small>55</small> &nbsp;
                                <img src="images/svg/shooting.svg" height="12" width="12" /><small>88</small> &nbsp;
                                <img src="images/svg/checking.svg" height="12" width="12" /><small>100</small>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div>
                        <span class="grey-text">Average:</span>
                        <div class="text-right">
                            <img src="images/svg/skating.svg" height="16" width="16" />55 &nbsp;
                            <img src="images/svg/shooting.svg" height="16" width="16" />88 &nbsp;
                            <img src="images/svg/checking.svg" height="16" width="16" />100
                        </div>
                    </div>
                    <div></div>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Squad #1</h5>

                    <ul class="list-group">
                        <li class="list-group-item">Just Joe</li>
                        <li class="list-group-item">Ed Johns</li>
                        <li class="list-group-item">John Doe</li>
                    </ul>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Squad #1</h5>

                    <ul class="list-group">
                        <li class="list-group-item">Gutierrez Dillon Von Ribentropp</li>
                        <li class="list-group-item">Johann Yngvie Malmsteen</li>
                        <li class="list-group-item">Franz Fon Fizika Kapelaminasikowski</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>

<br/><br/>

<div class="row">
    <div class="col-4"></div>
    <div class="col-6 text-right">
        <form class="form-inline">
            <div class="form-group">
                <label for="noOfSquads">Number of squads</label>
                <input id="noOfSquads" class="form-control mx-sm-2" type="number" min="2" max="42" value="2"/>
                <button class="btn btn-primary" type="submit">Make</button>
            </div>
        </form>
    </div>
    <div class="col-1"><button class="btn btn-secondary" type="button">Reset</button></div>
</div>